body{
	font-size: 16px;
	color: #f2eccf;
	background-color: #f2cccf;
	font-family: 'Oxygen', sans-serif;
}

#header-nav {
	background-color: #cc1d1d;
	border-radius: 0;
	border: 0;
}

#logo-img {
	background: url('../images/noodlebar-large.png') no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
}

.navbar-brand{
	padding-top: 25px;
}

.navbar-brand h1 {
	/*font-family: 'Lora', serif;*/
	font-family: 'Aladin', cursive;
	color: #f2eccf;
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: none;
	text-shadow: 3px 3px 3px #590404;
	margin-top:0px;
	margin-bottom: 0;
	line-height: 0.75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.navbar-brand p {
	font-family: 'Lora', serif;
	color: #000;
	text-transform: none;
	font-weight: bold;
	text-shadow: 1px 1px 1px #590404;
	font-size: 0.5em;
	margin-top: 15px;
}
.navbar-brand img{
	padding-right: 5px;
}
.nabar-brand p span {
	vertical-align: middle;
}

#nav-list{
	margin-top:10px;
}
#nav-list a{
	color:#f2eccf;
	text-shadow: 2px 2px 2px #590404;
	text-align: center;
	border-radius: 10px;
}
#nav-list a:hover {
	background-color: #a11515;
}
#nav-list a i{
	font-size: 1.5em;
}
#nav-list a span{
	font-size: 1.5em;
}
#phone{
	margin-top: 5px;
}
#phone a {
	text-align: right;
	padding-bottom: 5px;
	padding-top: 5px;
}
#phone div {
	color:#f2eccf;
	text-shadow: 1px 1px 1px #590404;
	text-align: right;
	padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border:1px solid #820d0d;
}
.navbar-header button.navbar-toggle{
	clear:both;
	margin-top: -60px;
}

#call-btn > a {
	font-size: 1em;
	color:#660d0d;
	display: block;
	margin: 0 20px;
	padding: 5px;
	border:2px solid #f2eccf;
	border-radius: 10px;
	background-color: #cc1d1d;
}
#xs-deliver {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 0.7em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #000;
}

.container .jumbotron{
		box-shadow: 0 0 50px #3f0c1f;
		border: 2px solid #3f0c1f;
}

#menu-tile, #specials-tile, #map-tile {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3f0c1f;
	overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile {
	background: url('../images/menu-tile.jpg') no-repeat;
	background-position: center;
}
#specials-tile {
	background: url('../images/specials-tile.jpg') no-repeat;
	background-position: center;
}

#menu-tile span, #specials-tile span, #map-tile span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .75;
}
@media (min-width: 1200px) {
	.navbar-brand h1{
		margin-top: 20px;
	}
	.container .jumbotron{
		background: url('../images/jumbotron_1200.jpg') no-repeat;
		height:675px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	#logo-img{
		background: url('../images/noodlebar-medium.png') no-repeat;
		width: 100px;
		height: 100px;
		margin:5px 5px 5px 0px;
	}
	.navbar-brand {
		padding-top:10px;
		height: 50px;
	}
	.navbar-brand h1 {
		padding-top: 20px;
		font-size: 1.8em;
	}
	.navbar-brand p {
		/*display: none;*/
		font-size: 0.5em;
		margin-top: 6px;
	}
	.navbar-brand img{
	padding-right: 5px;
	height: 20px
	}
	.container .jumbotron{
		background: url('../images/jumbotron_992.jpg') no-repeat;
		height:558px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#logo-img{
		background: url('../images/noodlebar-small.png') no-repeat;
		width: 60px;
		height: 60px;
		margin:5px 5px 5px 0px;
		margin-top:15px ;
		padding-right: 15px;
	}
	.navbar-brand {
		padding-top:10px;
		height: 50px;
	}
	.navbar-brand h1 {
		padding-top: 10px;
		font-size: 1.6em;
	}
	.navbar-brand p {
		/*display: none;*/
		font-size: 0.4em;
		margin-top: 3px;
	}
	.navbar-brand img{
		padding-right: 5px;
		height: 15px
	}
	#nav-list{
		margin-top:5px;
	}
	#nav-list a{
		color:#f2eccf;
		text-shadow: 2px 2px 2px #590404;
		text-align: center;
		border-radius: 10px;
	}
	#nav-list a:hover {
		background-color: #a11515;
	}
	#nav-list a i{
		font-size: 1.2em;
	}
	#nav-list a span{
		font-size: 1.2em;
		margin-right: 0px;
	}
	#phone div {
		color:#f2eccf;
		text-shadow: 1px 1px 1px #590404;
		text-align: right;
		padding-right: 15px;
	}
	.container .jumbotron{
		background: url('../images/jumbotron_768.jpg') no-repeat;
		height:432px;
	}
}

@media (max-width: 767px) {
	#logo-img{
		background: url('../images/noodlebar-small.png') no-repeat;
		width: 50px;
		height: 50px;
		margin:5px 5px 5px 0px;
		margin-top:15px ;
		margin-left:40px ;
	}
	.navbar-brand {
		padding-top:10px;
		height: 80px;
	}
	.navbar-brand h1 {
		padding-top: 10px;
		font-size: 1.4em;
	}
	.navbar-brand p {
		/*display: none;*/
		font-size: 0.4em;
		margin-top: 5px;
	}
	.navbar-brand p img {
		height:15px;
	}
	#collapsable-nav a {
	font-size: 1.2em;
	}
	#collapsable-nav a i {
	font-size: 1em;
	margin-right: 10px;
	}
	.container .jumbotron{
		margin-top: 30px;
		padding: 0;
	}
	#menu-tile,#specials-tile {
		width:360px;
		margin: 0 auto 15px;
	}
}

@media (max-width:479px) {
	#menu-tile,#specials-tile {
		width:280px;
		margin: 0 auto 15px;
	}
}







